.landing {
    background: url('../images/original.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    position: relative;
}
.landing h1{
    position: relative;
    color: white;
    padding: 0;
    margin: 0;
    left: 7%;
    top: 85%;
    font-size: 50px;
    font-weight: 400;
    width: 550px;
    min-width: 550px;
}