body {
     background: #f6f9f9;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}


.basicgal {
    position: relative;
    min-width: 390px;
}
.infogal {
    text-align: center;
    margin-bottom: 50px;
}
.infogal h2 {
    font-weight: 500px;
    margin: 0;
    margin-top: 40px;
    color: #2e3a4f;
    font-size: 32px;
    
}
.infogal h5 {
    font-weight: 300;
    margin: 20px;
    color: #909090;
    
}

.gallery {
    max-width: 1200px;
    position: relative;
    margin: auto;
    
    
}

.gallery img {
    width: 360px;
    height: 260px;
    padding: 15px;
    display: inline-block;
     z-index: 1;
}

.blockimg {
    display: inline-block;
    position: relative;
}

.gallery img:hover + .paranja {
     z-index: 1;
}
.paranja:hover {
   z-index: 1;  
}

.paranja {
    opacity: 0.9;
    background: #3aadf4;
    width: 360px;
    height: 260px;
    position: absolute;
    z-index: -1;
    
    top: 15px;
  bottom: 0;
  left: 15px;
  right: 0;
    
}
.common {
    width: 120px;
    position: relative;
    top: 40%;
    margin: auto;
    
}
.search,.settings {
    display: inline-block;
    
}

.search img:hover,.settings img:hover{
    background: #233b5d;
    cursor: pointer;
}
.paranja img {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;   
}

