body{
    margin: 0;
    padding: 0;
}
.backBiography {
    width: 100%;
}
.biography{
    width: 800px;
    margin: auto;
    text-align: justify;
    margin-top: 20px;
}
.biography img{
    float: right;
}
.biography h1 {
    width: 400px;
    margin: 0;
    position: absolute;
}
.clear {
    clear: both;
}
