@media only screen and (max-width: 840px), only screen and (max-device-width: 840px){
    .leftNavigation .logo{
        display: none;
    }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    .headerMenuList{
        display: none;
    }
    nav{
        float: right;
        display: flex;
    }
    .miniMenu{
        font-size: 40px;
        color: white;
        font-weight: bold;
        padding: 5px 15px
    }
    nav:hover{
        background-color: gray;
        cursor: pointer;
    }
    .landing h1 {
        font-size: 34px;
        width: 350px;
        min-width: 350px;
    }
    body{
        min-width: 400px;
    }
}

